* {
    padding: 0;
    margin: 0;
}

html, body {
    background: #001233;
}

.navbar {
    background: #001233 !important;
}

.navbar > a {
    font-size: 16px;
}

.navbar h1 {
    position: relative;
    left: 35vw;
    font-family: 'Pacifico', cursive;
    color: white;
}

@media (max-device-width:1030px) {
    .navbar h1 {
        position: relative;
        left: 0;
        font-family: 'Pacifico',  cursive;
        text-align: center !important;
        color: white;
    }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 731px) and (orientation:landscape) {
    hr {
        width: 100%;
    }

}

@media only screen and (min-device-width: 560px) and (max-device-width: 570px) and (orientation:landscape) {
        hr {
        width: 100%;
    }
}

.navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}

.navbar ul a {
    font-size: 18px;
    color: white !important;
}

.navbar ul li {
    transition: .6s;
}


.navbar ul > li:hover {
    background: black;
}

.navbar ul > .clear:hover {
    background: #001233;
}

.btn-primary:hover {
    background: black;
}

.brand {
    font-size: 35px;
    color: white !important;
}

#break {
    height: 20px;
    background: white;
}

.clear {
    margin-left: 10px;
    margin-top: -7px;
}

.collapse {
    font-weight: 300;
    margin-left: 0;
}

.collapse .active a{
    font-weight: 600;
    color: #c6d9ec !important;
}

.dropdown-item:hover {
    background-color: orange!important;
}

.loader {
    display: block;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: white;

}

.loader-container {
    position: relative;
    height: 200px;
    width: 200px;
    left: 42%;
}

.loader-container > div {
    position: relative;;
    top: 45vh;
    left: 40%;
    display: inline-block;
    height: 20px;
    width: 5px;
    background: red;
    
}

#one, #three, #five {
    animation: animate 1s infinite;
}

#two, #four {
    height: 10px;
    border-radius: 5px;
    animation: animate2 1s infinite;
    animation-delay: .1s;
    
}

.loader p {
    position: absolute;
    top: 49vh;
    font-family: cursive;
    left: 35%;
    margin-top: 0;
    color: red;
}


span:nth-child(1) {
    animation: animate3 1s infinite;
    opacity: 0;
}

span:nth-child(2) {
    animation: animate4 1s infinite;
    animation-delay: 1s;
    opacity: 0;
}

span:nth-child(3) {
    animation: animate5 1s infinite;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes animate {
    0% {
        top: 44vh;
    }
    
    50% {
        top: 46vh;
    }
    
    100% {
        top: 44vh;
    }
}


@keyframes animate2 {
    0% {
        top: calc(46vh+2px);
    }
    
    50% {
        top: 44vh
    }
    
    100% {
        top: calc(46vh+2px);
    }
}


@keyframes animate3 {
        0% {
            opacity: 0;
        }
        33.33% {
            opacity: 1;
        }
}

@keyframes animate4 {
        0% {
            opacity: 0;
        }
        66.66% {
            opacity: 1;
        }
}

@keyframes animate5 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
}
